<footer class='footer'>
    <div class='social-media-footer-container'>
        <div class='social-media-footer-item'>
            <a class='social-media-footer-link' href='https://www.facebook.com/TeamBottcher/'>
                <img class='social-media-footer-image' src='/assets/images/social-media/facebook.png'/>
            </a>
        </div>
        <div class='social-media-footer-item'>
            <a class='social-media-footer-link' href='https://www.instagram.com/team_bottcher/'>
                <img class='social-media-footer-image' src='/assets/images/social-media/instagram.png'/>
            </a>
        </div>
        <div class='social-media-footer-item'>
            <a class='social-media-footer-link' href='https://twitter.com/teambottcher'>
                <img class='social-media-footer-image' src='/assets/images/social-media/twitter.png'/>
            </a>
        </div>
    </div>
    <div class='footer-text-container'>
        <p class='footer-text footer-copyright-text'>&copy; Team Bottcher</p>
        <p class='footer-divider'>|</p>
        <p class='footer-text footer-contact-text'><a class='footer-link' href='/contact/'>Contact</a></p>
    </div>
</footer>