
<section class='our-team general-section'>
    <h2 class='text-header'>Our Team</h2>
    <div class='our-team-container'>
        <div class='player-image-container' onclick="showPlayerInfoModal(this);">
            <img alt="Karrick Martin throwing a curling rock" class='player-image' src='/assets/images/team/karrick.jpg'/>
            <div class='player-text'>
                <p class='player-name'>Karrick Martin</p>
                <p class='player-position'>Lead</p>
            </div>
        </div>
        <div class='player-image-container' onclick="showPlayerInfoModal(this);">
            <img alt="Bradley Thiessen throwing a curling rock" class='player-image' src='/assets/images/team/brad.jpg'/>
            <div class='player-text'>
                <p class='player-name'>Bradley Thiessen</p>
                <p class='player-position'>Second</p>
            </div>
        </div>
        <div class='player-image-container' onclick="showPlayerInfoModal(this);">
            <img alt="Darren Moulding throwing a curling rock" class='player-image' src='/assets/images/team/darren.jpg'/>
            <div class='player-text'>
                <p class='player-name'>Darren Moulding</p>
                <p class='player-position'>Third</p>
            </div>
        </div>
        <div class='player-image-container' onclick="showPlayerInfoModal(this);">
            <img alt="Brendan Bottcher throwing a curling rock" class='player-image' src='/assets/images/team/brendan.jpg'/>
            <div class='player-text'>
                <p class='player-name'>Brendan Bottcher</p>
                <p class='player-position'>Skip</p>
            </div>
        </div>
    </div>
</section>